.container{
    border: var(--lwc-borderWidthThick, 2px) solid rebeccapurple;
    border-radius: 10px;
}
.card{
    border: var(--lwc-borderWidthThick, 2px) solid hwb(271 2% 60%);
    border-radius: 10px;
}

.rounded-corners{
    border: var(--lwc-borderWidthThick, 2px) solid hwb(271 2% 60%);
    border-radius: 10px;
}

.org-switcher-icons {
    gap: 0.5rem;
    min-width: 60px;
}

.view-switch-icon,
.view-switch-icon.active {
    cursor: pointer;
    border-radius: var(--lwc-borderRadiusMedium, 4px);
    transition: background 0.2s;
    height: 32px; /* Match combobox height */
    display: flex;
    align-items: center;
    justify-content: center;
}